<h1>Followers</h1>
<p><%= @user.first_name %> is followed by.</p>
<% if @users.length > 0  %>
  <% @users.each do |user|  %>
    <%= link_to "#{user.first_name}", user_path(user) %>

  <% end %>
<% end %>
