<% provide(:title, current_user.username) %>
<h1>#Likes</h1>
<% if @posts.count > 0 %>
  <%= render "partials/posts" %>
<% else %>
  <p id="first-v">Posts that you like will appear here</p>
<% end %>
