/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 a {
     color: inherit;
     text-decoration: none;
 }
 *,
 *:before,
 *:after {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
 }
 body {
   font-family: 'Roboto', sans-serif;
   background-color: #f7f7f7;
 }
.turbolinks-progress-bar {
  width: 8px;
  background-image: linear-gradient(to right, #f45e0e, #ff0041, #fa0075, #cf00b2, #5d12eb);
}

.alert {
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #3897f0;
}
header {
  padding-top: 20px;
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #e8e8e8;
  background-color: white;
  position: fixed;
  z-index: 2;
}
#spacer {
  padding-bottom: 67px;

}
.header-box{
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

}
.thirds {
  display: inline-block;
  width: 32%;
  vertical-align: middle;
}

.search {

  margin: auto;
  text-align: center;
  background-color: #eee;
  height: 25px;
  line-height: 25px;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.logo-text {
  display: inline-block;
  font-family: 'Satisfy', cursive;
  font-size: 1.8em;
  border-left: 1px solid black;
  padding-left: 15px;
  vertical-align: middle;
}

.gylph {
  width: 35px;
  margin-left: 15px;
  vertical-align: middle;

}
.logo-image {
  display: inline-block;
  img {
    margin-left: 0;
    margin-right: 15px;

  }
}
.glyph-cont {
  float: right;

}

.hidden {
  display: none;
}
#form-alert {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  padding: 30px 0;
  font-size: 2em;
  font-weight: bold;
}
@media only screen and (max-width: 375px) {
  .logo-image {
    display: none;
  }
  .gylph {
  margin-left: 2px;
  margin-right: 2px;
  }
  .logo-text {
    border: none;
    padding-left: 0;
  }
  .form-container {
    width: 100%;
  }
  .sub-form {
    width: 100%;
  }

}
@media only screen and (max-width: 500px) {
  .user-links {
    display: none;
  }
  .user-avatar {
    width:100%;
  }
  .poster-info {
    height:200px;
    padding-top: 30px;
  }
  .mini-post {
    width: 100%;
  }
}
@media only screen and (max-width: 670px) {
  .middle {
    display: none;
  }
  .thirds {
    width: 49%;
  }
  .post-container {
    width: 100%;
  }
  .post-show-container {
    width: 95%;
    img {
      width: 100%
    }
    .interactivity {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 670px) {
  .logo-text {
    font-size: 1.4em;
  }
  .gylph {
  width: 30px;
  }

}
