.reg-back {
  padding-top: 20px;
  height: 100vh;
  background: linear-gradient(240deg, #500fc5, #ed0c0c, #0c96ed, #ceed0c);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 47s ease infinite;
  -moz-animation: AnimationName 47s ease infinite;
  animation: AnimationName 47s ease infinite;

  @-webkit-keyframes AnimationName {
     0%{background-position:0% 82%}
     50%{background-position:100% 19%}
     100%{background-position:0% 82%}
  }
  @-moz-keyframes AnimationName {
     0%{background-position:0% 82%}
     50%{background-position:100% 19%}
     100%{background-position:0% 82%}
  }
  @keyframes AnimationName {
     0%{background-position:0% 82%}
     50%{background-position:100% 19%}
     100%{background-position:0% 82%}
}
}
.form-container {
  width: 320px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #e8e8e8;
  padding: 25px;
  font-size: .8em;
  background-color: white;

}
.logo {
  font-family: 'Satisfy', cursive;
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 15px;
}
.field {
  margin-bottom: 8px;
}
.in_field {
  width: 100%;
  height: 30px;
  border-style: none;
  border: 1px solid #e8e8e8;;
  border-radius: 3px;
  background-color: #fafafa;
  padding-left: 5px;
  color: #666666;
}
.actions {
  width: 100%;
  text-align: center;
}

.submit {
  width: 100%;
  background-color: #3897f0;
  opacity: .3;
  color: white;
  border-style: none;
  border-radius: 3px;
  height: 25px;
  margin-bottom: 20px;

}

.submit:hover {
  opacity: 1;
}
.submit:active {
  opacity: 1;
  padding: 0;

}
.remember {
  padding: 5px 0;
}
.forgot_password {
  color: #003569;
}

.sub-form {
  width: 320px;
  margin: auto;
  border: 1px solid #e8e8e8;
  height: 80px;
  margin-top: 10px;
  text-align: center;
  padding-top: 30px;
  font-size: .8em;
    background-color: white;
  a {
    color: #3897f0;
  }

}

.register {
  margin: 20px 0 0 0;
}
.min {
  margin: 8px 0;
}

.label_field {
  font-size: 1.2em;

}
#input_sizing {
  margin-top: 4px;
}

input:valid {
  border: 1px solid #3897f0;
}
.no_val:valid {
  border: inherit;
}
