.post-container {
  width: 600px;
  margin: auto;
  border: 1px solid #efefef;
  border-radius: 3px;
  background: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


.user-info {
  padding: 15px 0 0 15px;
  width: 100%;
  height: 60px;
}

.post_image {
  max-width:100%;
  max-height:100%;
}
.user_image {
  max-width:30px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
}
.user_name {
  display: inline-block;
  vertical-align: middle;
}
.post-info {
  padding: 15px 0 0 15px;
  font-size: .9em;
}
.caption_line {
  display: inline-block;
}
#username {
  font-weight: bold;

}
.comments-container {
  margin-bottom: 10px;
}
.comment_field {
  display: inline-block;
  width: 100%;
  height: 30px;
  border-style: none;
  border: 1px solid #e8e8e8;;
  border-radius: 3px;
  background-color: #fafafa;
  color: #666666;
  margin: 10px 0;
  padding-left: 5px;
}
.comment_sub {
  display: inline-block;
  width: 18%;
  height: 30px;
  border-style: none;
  border: 1px solid #e8e8e8;;
  border-radius: 3px;
  background-color: #fafafa;
  padding-left: 0;
}




.like {
  max-width:30px;
}
